@media (min-width: 768px) {
    .footer {
        flex-direction: column;
    }
    .footer ul {
        margin-bottom: 1rem;
    }
    .quotation__container {
        height: 200px;
        width: 100%;
    }
    .img__overlay {
        height: 200px;
        width: 100%;
    }
    .quote_image_text {
        font-size: 1rem;
    }
    .sub__container h1 {
        font-size: 2rem;
        text-align: left;
    }
    .input__div {
        flex-direction: column;
    }
    .input__div input {
        width: 100%;
        margin-bottom: 1rem;
    }
    .text-x1 {
        font-size: 2rem;
    }
    .restaurant__list__container {
        flex-direction: column;
    }
    .restaurant__images__container {
        margin-top: 1rem;
    }
    .restaurant1,
    .restaurant2,
    .restaurant3,
    .restaurant4 {
        margin: 0.1rem 0.1rem;
        border-radius: 5px;
    }
    .restaurant2,
    .restaurant4 {
        width: 150px;
        height: 130px;
    }
    .restaurant1,
    .restaurant3 {
        width: 125px;
        height: 90px;
    }
    .view__more__button {
        text-align: center;
        padding: 10px 30px;
        border-radius: 10px;
        background: #fff;
        color: #dd2476;
        box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
    }
    .menu__card__list {
        flex-direction: column;
        margin: 0;
        padding: 1rem 0;
    }
    .menu__card {
        width: 90%;
        margin: 1rem 1rem;
    }
    .push__up {
        margin-top: 0;
    }
    .food__list__text {
        font-size: 2rem;
    }
    .food__list__container__diagonal {
        display: none;
    }
    .hero__container {
        flex-direction: column;
        margin: 1rem 0 2rem 0;
    }
    .hero__text {
        font-size: 1.5rem;
        text-align: left;
    }
    .hero__image__container {
        width: auto;
    }
    .hero__description {
        width: auto;
        margin-top: 1rem;
    }
    .container {
        width: 100%;
    }
    .navbar {
        padding: 0 1rem;
    }
    .button__primary {
        padding: 0.5rem;
    }
    .view__more__button:hover {
        color: #fff;
        background-color: #dd2476;
        margin: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .hero__text {
        font-size: 2rem;
    }
    .text-x1 {
        font-size: 2.5rem;
    }
    .container {
        width: 100%;
    }
    .navbar {
        padding: 0.7rem 2rem;
    }
    .hero__container {
        margin: 5rem 1rem;
    }
}